@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html {
  --color-midnight-ink: #070724;
  --color-mercury: #419ebb;
  --color-venus: #eda249;
  --color-earth: #6d2ed5;
  --color-mars: #d14c32;
  --color-uranus: #1ec1a2;
  --color-neptune: #2d68f0;
  --color-saturn: #cd5120;
  --color-jupiter: #d83a34;
}

body {
  background-color: var(--color-midnight-ink);
  background-image: url('./../../src/assets/background-stars.svg');
  background-size: 63rem 53rem;
}

.content-grid {
  --padding-inline: 1.5rem;
  --content-max-width: 86rem;
  --content-width: calc(100% - var(--padding-inline) * 2);
  --gutter-width: minmax(var(--padding-inline), 1fr);

  display: grid;
  grid-template-columns:
    var(--gutter-width) [content-start]
    min(var(--content-width), var(--content-max-width))
    [content-end] var(--gutter-width);

  > * {
    grid-column: content;
  }

  .full-width {
    grid-column: 1 / -1;
  }
}
